%h2 本人確認
= form_for @account do |f|
  = render "devise/shared/error_messages", resource: @account
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :family_name
    = f.text_field :family_name
  .field
    = f.label :hurigana_first
    = f.text_field :hurigana_first
  .field
    = f.label :hurigana_family
    = f.text_field :hurigana_family
  .field
    = f.label :birthday
    %br/
    = f.date_select :birthday
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
