.Credit-Wrapper
  %p.Credit-Wrapper__title= "クレジットカード情報を入力"
  = form_tag(pay_credit_index_path, mehotd: :post, id: 'charge-form', name: "inputForm", class: "Credit-Wrapper__form") do
    %span.charge-errors
    .Register-Inner

      .Register-Inner__form
        %span.Register-Inner__label カード番号
        %span.Register-Inner__require 必須
        %input.Register-Inner__input-number.number.input-default{maxlength: "16", name: "number", placeholder: "カード番号", type: "text", id: "payment_card_no"}/
        = image_tag("/images/credit-groups.png", class:"Register-Inner__cards")

      .Register-Inner__select
        %span.Register-Inner__label 有効期限
        %span.Register-Inner__require 必須
        .Register-Inner__selects
          .Register-Inner__month
            %select.exp_month#payment_expiration_date_1i{maxlength: "2", name: "exp_month", type: "text"}
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            %text.expiration_date_box__text 月

          .Register-Inner__year
            %select.exp_year#payment_expiration_date_2i{maxlength: "4", name: "exp_year", type: "text"}
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            %text.expiration_date_box__text 年

      .Register-Inner__security
        %span.Register-Inner__label セキュリティー番号
        %span.Register-Inner__require 必須
        %input.Register-Inner__input-security.cvc.input-default{maxlength: "3", name: "cvc", placeholder: "カード背面４桁もしくは３桁の番号", type: "text", id: "payment_card_cvc"}
        .Register-Inner__card-info
          = link_to "?カード裏面の番号とは", "#"
      .actions
        %button.register-member#submit-button{type: "submit"} 登録完了
  //後ほど参考にするために一時的にコメントアウト
  -# = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ", maxlength: "16", type: "text", id: "card_number"
  -# %select#exp_month.vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month{name: "exp_month", type: "text"}
  -#   %option{value: ""} --
  -#   - 12.times do |index|
  -#     %option{value: "#{index + 1}"}= "#{index + 1}"
  -# %span 月

  -# %select#exp_year.vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year{name: "exp_year", type: "text"}
  -#   %option{value: ""} --
  -#   - 10.times do |index|
  -#     %option{value: "#{index + 19}"}= "#{index + 19}"
  -#   -# <i class="fas fa-chevron-down"></i>
  -# %span 年
  -# = text_field_tag "cvc", "", class: "cvc .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age__security__security-code__security-flame", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
  -# = submit_tag "追加する", id: "token_submit"