.entry-main
.blank
.vacuum
  .vacuum__wide-box
    .vacuum__wide-box__entry-header
      クレジットカード情報を入力
    .vacuum__wide-box__entry-header__entry-box
      .vacuum__wide-box__entry-header__entry-box__entry-form
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register
          カード番号
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want
          必須
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num
          半角数字のみ
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest
          = image_tag("/assets/visa.svg", size: "49x20", alt: "visa.tag", class: "crest")
          = image_tag("/assets/master-card.svg", size: "34x20", alt: "master.tag", class: "crest")
          = image_tag("/assets/saison-card.svg", size: "30x20", alt: "saison.tag", class: "crest")
          = image_tag("/assets/jcb.svg", size: "32x20", alt: "jcb.tag", class: "crest")
          = image_tag("/assets/american_express.svg", size: "21x20", alt: "american_express.tag", class: "crest")
          = image_tag("/assets/dinersclub.svg", size: "32x20", alt: "dinersclub.tag", class: "crest")
          = image_tag("/assets/discover.svg", size: "32x20", alt: "discover.tag", class: "crest")
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register
            有効期限
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want
            必須
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days
            .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm
              .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month
                01
                <i class="fas fa-chevron-down"></i>
            .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__spell
              月
            .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy
              .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year
                20
                <i class="fas fa-chevron-down"></i>
            .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age
              年
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age__security
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age__security__security-code
            セキュリティコード
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want
            必須
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age__security__security-code__security-flame
            カード背面４桁もしくは３桁の番号
          .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age__security__security-code__security-flame__security-backnum
            カード裏面の番号とは？
        .vacuum__wide-box__entry-header__entry-box__entry-form__entry-register__want__card-num__crest__expiration__period-days__period-mm__period-month__period-yy__period-year__age__security__security-code__security-flame__security-backnum__entry-submit
          登録する