.AccountPage
  .AccountPage__header
    .AccountPage__header__box
      = link_to image_tag("/assets/logo.png", alt: "furima", class: "Header__logo-inner"), "#"

      -# = image_tag 'logo.png', alt: 'furimaのロゴ'
  .loginno
    .loginno__notitle
      アカウントをお持ちでない方はこちら
    .loginno__nobtn
      = link_to "新規会員登録", '/users/sign_up', class:"Form__submitBtn"
  .login
    .login__title
      ログイン
    .login__form
      - if alert
        #error_explanation
          .error-box__message= alert
      = form_with model: @user, url: user_session_path, local: true do |f|
        .Form-contents
          = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "Form-contents__email"
          = f.password_field :password, placeholder: "パスワード", class: "Form-contents__password"
          = f.submit "ログイン", class: "Form-contents__submitBtn"
  .single__footer
