.AccountPage
  .AccountPage__header
    .header__box
      = image_tag '/assets/images/logo.png', alt: 'furimaのロゴ', height: '100', width: '300'
  .login__no
    .login__notitle
      アカウントをお持ちでない方はこちら
    .AccountPage__nobtn
      = link_to '/users/sign_up', class:"Form__submitBtn" do
        = "新規会員登録"
  .AccountPage__main
    .AccountPage__title
      ログイン
    .AccountPage__form
      %form.Form-contents
        .Form-contents__email
          = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "メールアドレス"
        .Form-contents__password
          = f.label :password
            %i (英数字7文字以上)
            = f.password_field :password, autofocus: true, autocomplete: "パスワード"
          -if devise_mapping.rememberable?
     
        = link_to 'homes', class:"Form-contents__submitBtn" do
          = "ログイン"
  .single__footer

