.middle-main
  .middle-main__pickupContainer
    .middle-main__pickupContainer__head
      ピックアップカテゴリー
      .middle-main__pickupContainer__head__productBox
        .middle-main__pickupContainer__head__productBox__productHead
          新規投稿ページ
        .middle-main__pickupContainer__head__productBox__productHead__productLists
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/IMG_9072.jpeg", size: "220x150", alt: "image1", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                ee
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  1000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                (税込)
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/a007.png", size: "220x150", alt: "image2", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                product3
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  30000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                (税込）
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/a004.png", size: "220x150", alt: "image3", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                product2
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  20000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                (税込）
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/a001.png", size: "220x150", alt: "image4", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                product1
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  10000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                （税込）
    .middle-main__pickupContainer__head
      ピックアップブランド
      .middle-main__pickupContainer__head__productBox
        .middle-main__pickupContainer__head__productBox__productHead
          アーカイバ
        .middle-main__pickupContainer__head__productBox__productHead__productLists
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/IMG_9072.jpeg", size: "220x150", alt: "image1", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                ee
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  1000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                (税込)
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/a007.png", size: "220x150", alt: "image2", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                product3
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  30000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                (税込）
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/a004.png", size: "220x150", alt: "image3", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                product2
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  20000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                (税込）
          .middle-main__pickupContainer__head__productBox__productHead__productLists__productList
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image
              = image_tag("/assets/a001.png", size: "220x150", alt: "image4", class: "productList-image")
            .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name
                product1
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price
                .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__font
                  10000円
                  = icon('fas', 'fa-star')
              .middle-main__pickupContainer__head__productBox__productHead__productLists__productList__productList-image__productList-body__name__price__tax
                （税込）
  
  .middle-main__appBanner
    = image_tag("/assets/bg-appBanner-pict", size: "#", alt: "haikei", class: "appBanner")
    .middle-main__appBanner__inner
      .middle-main__appBanner__inner__inner-title
        だれでもかんたん、人生を変えるフリマアプリ
      .middle-main__appBanner__inner__inner-title__inner-text
        今すぐ無料ダウンロード！
      .middle-main__appBanner__inner__inner-title__inner-text__inner-icon
        = image_tag("/assets/applestore.svg", size: "180x53", alt: "appletag", class: "inner-icon")
        = image_tag("/assets/googleplay.svg", size: "180x53", alt: "gogletag", class: "inner-icon")

  .middle-main__top-footer
    .middle-main__top-footer__case
      .middle-main__top-footer__case__break
        .middle-main__top-footer__case__break__footer-title
          FURIMAについて
        .middle-main__top-footer__case__break__footer-title__outline
          会社概要（運営会社）
        .middle-main__top-footer__case__break__footer-title__outline__privacy
          プライバシーポリシー
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms
          FURIMA利用規約
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms__covenant
          ポイントに関する特約
      .middle-main__top-footer__case__break
        .middle-main__top-footer__case__break__footer-title
          FURIMAを見る
        .middle-main__top-footer__case__break__footer-title__outline
          カテゴリー一覧
        .middle-main__top-footer__case__break__footer-title__outline__privacy
          ブランド一覧
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms__covenant
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms__covenant__footer-logo
          = image_tag("/assets/logo-white.png", size: "", alt: "furima", class: "footer-logo")
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms__covenant__footer-logo__bottom-logo
          © FURIMA
      .middle-main__top-footer__case__break
        .middle-main__top-footer__case__break__footer-title
          ヘルプ＆ガイド
        .middle-main__top-footer__case__break__footer-title__outline
          FURIMAガイド
        .middle-main__top-footer__case__break__footer-title__outline__privacy
          FURIMAロゴ利用ガイドライン
        .middle-main__top-footer__case__break__footer-title__outline__privacy__terms
          お知らせ
          
  .middle-main__purchaseBtn
    .middle-main__purchaseBtn__purchase-text
      出品する
      .middle-main__purchaseBtn__purchase-text__purchase-icon
    = link_to image_tag("/assets/icon_camera.svg", size: "54x54", alt: "furima", class: "purchase-icon"), new_item_path
