= form_with model: @item, method: :post, local: true do |f|
  = f.label :name
  = f.text_field :name, {}
  %br
  = f.label :description
  = f.text_field :description, {}
  %br
  = f.label :price
  = f.text_field :price, {}
  %br
  = f.label :item_status
  = f.text_field :item_status, {}
  %br
  = f.label :shipping_fee
  = f.text_field :shipping_fee, {}
  %br
  = f.label :owner_area
  = f.text_field :owner_area, {value: "#{current_user.address.prefecture}", disabled: true}
  %br
  = f.label :shipping_date
  = f.text_field :shipping_date, {}
  %br
  = f.label :item_status
  = f.text_field :item_status, {}
  %br
  = f.hidden_field :seller_id, {value: current_user.id}
  %br
  #image-box
    #previews
      - if @item.persisted?
        - @item.images.each_with_index do |image, i|
          = image_tag image.image.url, data: { index: i}, width: "100", height: "100"
    = f.label :images
    = f.fields_for :images do |i|
      .js-file_group{data: {index: "#{i.index}"}}
        = i.file_field :image, class: 'js-file'
        .js-remove= "削除"
      - if @item.persisted?
        = image.check_box :_destroy, data: { index: image.index }, class: "hidden-destroy"
      - if @item.persisted?
        .js-file_group{data: {index: @item.images.count}}
          = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
          .js-remove= "削除"

  = f.submit '登録'
  