= form_with model: @item, method: :post, local: true do |f|
  = f.label :name
  = f.text_field :name
  = @item.errors.full_messages_for(:name).first
  %br
  = f.label :description
  = f.text_field :description
  = @item.errors.full_messages_for(:description).first
  %br
  = f.label :price
  = f.text_field :price
  = @item.errors.full_messages_for(:price).first
  %br
  = f.label :fee_id
  = f.collection_select(:fee_id, Fee.all, :id, :name, {include_blank: "---"})
  = @item.errors.full_messages_for(:fee_id).first
  %br
  = f.label :owner_area
  = f.text_field :owner_area, {value: "#{current_user.address.prefecture.name}"}
  = @item.errors.full_messages_for(:owner_area).first
  %br
  = f.label :shipping_id
  = f.collection_select(:shipping_id, Shipping.all, :id, :name, {include_blank: "---"})
  = @item.errors.full_messages_for(:shipping_id).first
  %br
  = f.label :status_id
  = f.collection_select(:status_id, Status.all, :id, :name, {include_blank: "---"})
  = @item.errors.full_messages_for(:status_id).first
  %br
  = f.hidden_field :seller_id, {value: current_user.id}
  %br
  #image-box
    #previews
      - if @item.persisted?
        - @item.images.each_with_index do |image, i|
          = image_tag image.image.url, data: { index: i}, width: "100", height: "100"
    = f.label :images
    = f.fields_for :images do |i|
      .js-file_group{data: {index: "#{i.index}"}}
        = i.file_field :image, class: 'js-file'
        .js-remove= "削除"
      - if @item.persisted?
        = image.check_box :_destroy, data: { index: image.index }, class: "hidden-destroy"
      - if @item.persisted?
        .js-file_group{data: {index: @item.images.count}}
          = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
          .js-remove= "削除"
  = @item.errors.full_messages_for(:images).first

  = f.submit '登録'
  