= form_with @item do |f|
  = f.label :name
  = f.text_field :name, {}
  %br
  = f.label :description
  = f.text_field :description, {}
  %br
  = f.label :price
  = f.text_field :price, {}
  %br
  = f.label :item_status
  = f.text_field :item_status, {}
  %br
  = f.label :shipping_fee
  = f.text_field :shipping_fee, {}
  %br
  = f.label :owner_area
  = f.text_field :owner_area, {}
  %br
  = f.label :shipping_date
  = f.text_field :shipping_date, {}
  %br
  = f.label :item_status
  = f.text_field :item_status, {}
  %br
  = f.label :brand
  = f.text_field :brand, {}
  %br
  = f.label :images
  = f.fields_for :images do |i|
    .js-file_group{data: {index: image.index}}
      = i.file_field :src, class: 'js-file'
      %span.js-remove= "削除"

  = f.submit '登録'
  