= form_with model: @account, local: true do |f|
  %div
    名前
    = f.text_field :first_name
    = f.text_field :famiyl_name
    振り仮名
    = f.text_field :hurigana_first
    = f.text_field :hurigana_family
    誕生日
    = f.date_select :birthday
= form_with model: @address, local: true do |f|
  %div
    宛名
    = f.text_field :shippinh_first_name
    = f.text_field :shippinh_famiyl_name
    住所
    = f.text_field :zipcode
    = f.text_field :prefecture
    = f.text_field :city
    = f.text_field :address
    マンション名など
    = f.text_field :others
    = f.text_field :phone_number
    
    